@model VirtualGallery.Models.UpcomingEvents

@{
    ViewBag.Title = "EventDetails";
}

<h2>EventDetails</h2>

<div>
    <h4>UpcomingEvents</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameOfEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfEvent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) |
    @Html.ActionLink("Back to Events", "Index")
</p>
