@model IEnumerable<VirtualGallery.Models.UpcomingEvents>

@{
    ViewBag.Title = "Index";
}

<h2>Upcoming Events</h2>

<p>
   @Html.ActionLink("Create New Event", "CreateEvent")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOfEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventAddress)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventAddress)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditEvent", new { id = item.EventId })
                @Html.ActionLink("Details", "EventDetails", new { id = item.EventId })
                @Html.ActionLink("Remove", "DeleteEvent", new { id = item.EventId })
            </td>
        </tr>
    }

</table>