@model VirtualGallery.Models.Exhibition

@{
    ViewBag.Title = "ExhibitionDetails";
}

<h2>ExhibitionDetails</h2>

<div>
    <h4>Exhibition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExhibitionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExhibitionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExhibitionDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExhibitionDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExhibitionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExhibitionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExhibitionLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExhibitionLocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExhibitionId }) |
    @Html.ActionLink("Back to Exhibitions", "ExhibitionIndex")
</p>
